.formContainer{

    :global{
        .ant-form-item-control-input{
            min-height: auto;
        }


        .igloo-freeform-step-label-step-count{
            white-space: nowrap ;
            margin-left: 8px;
        }

        .igloo-freeform-step-content{
            padding: 8px 16px;

            & >.ant-row{
                row-gap: 12px !important;
            }
        }

        .igloo-freeform-step-label{
            align-items: start;
        }

        .igloo-freeform-element-edit{
            .ant-form-item-label{
                padding-bottom: 4px;
            }
        }

        .igloo-freeform-step-label-edit{
            span{
                white-space: nowrap;
                margin-left: 8px;
            }

        }

        .igloo-freeform-element-preview-item{
            flex-wrap: nowrap;
            justify-content: space-between;

            & >div{
                max-width: none;
                flex: none;
            }


            .igloo-freeform-element-preview-label{
                flex: 1;
            }

            .igloo-freeform-element-preview-value{
                margin-top: 0px;

                .ant-form-item{
                    padding-top: 0;
                }
            }
        }

        .igloo-radio-group{
            & > div{
                align-items: center;

                & >div{
                    max-width: none;
                    flex: auto;
                }
            }
        }
    }
}