.topMessage{
    margin-bottom: 24px;
    background: rgb(192,158,92);
    color: white;
    padding: 8px;
    border-radius: 8px;

    & div+div{
        margin-top: 8px;
    }
}

.container{
    border-radius: 8px;
    background: #1e80ff;
    padding: 16px;

    & > div{
        & + div{
            margin-top: 8px;
        } 
    }
}


.table{
    margin-bottom: 24px;

    tr>th{
        background: rgb(30,128,255) !important;
    }
}